@font-face {
    font-family: departure-mono;
    src: url(./fonts/DepartureMono-Regular.woff2);
}

* {
    box-sizing: border-box;
    color: white;
    padding: 0px;
}

body {
    font-family: Roboto;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    background: linear-gradient(rgb(6, 0, 61), rgb(3, 45, 80));
    display: flex;
}


button:hover {
    cursor: pointer;
}

.sidebar-container {
    height: 100vh;
    width: 200px;
    border-right: 1px solid rgb(117, 117, 117);
    flex: none;
    animation: slide-up 1.5s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20%;
    gap: 16px;
}

.resume-pdf {
    overflow-y: hidden;
    border: none;
    flex: none;
    height: 830px;
    width: 600px;
}

.sidebar-link {
    color: white;
    background-color: transparent; 
    border: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.sidebar-link:hover {
    text-shadow: 0 0 5px #ffffff;
}

.sidebar-link:active {
    color:#969595;
    text-shadow: 0 0 5px #969595;
}

.main-container {
    flex: auto; 
    overflow-y: auto;
}

.hero-section,
.about-section,
.projects-section,
.resume-section,
.contact-section {
    height: 100vh;   
}

.hero-section { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section,
.projects-section {
    padding: 50px;
    font-size: 30px;
    color: white;
}

.resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    background-color: rgba(0, 0, 0, 0.151);
}

.speaking-to-user {
    font-family: departure-mono;
    font-size: 0.8rem;
    color: rgb(56, 237, 243)
}

.hero-heavy {
    font-size: 3rem;
    font-weight: 500;
}

.hero-name {
    color: rgb(233, 233, 233)
}

.hero-blurb {
    color: rgb(168, 168, 168)
}

.hero-content {
    position: relative;
    left: -5%;
    animation: slide-up 1.5s;
    line-height: 46px;
    margin-top: auto;
}

@keyframes slide-up {
    from {
        opacity: 0;
        line-height: 200px;
    }

    to {
        opacity: 1;
        line-height: 46px;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        bottom: 8%;
    }

    to {
        opacity: 1;
        bottom: 3%;
    }
}

.hero-content > * {
    line-height: auto;
    margin: 0px;
}

.hero-resume-button {
    padding: 10px; 
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 10px;    
}

.hero-resume-button:hover {
    background-color: #ffffff25;
}

.hero-resume-button:active {
    background-color: rgba(255, 255, 255, 0.274);
}

.go-to-about {
    background-color:rgb(151, 151, 151);
    background-image: url(./images/down-arrow-5.svg);
    background-size: cover; 
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    margin-top: auto;
    position: relative; 
    bottom: 3%;
    animation: slide-down 2s;
}

.hero-button {
    background-size: cover; 
    background-image: url(./images/flower5-svgrepo-com.svg);
    height: 40px;
    width: 40px;
}

.hero-button:hover {
    filter: drop-shadow(1px 1px 3px white);
}

.hero-button:active {
    filter: brightness(60%);
    filter: drop-shadow(1px 1px 3px #969595);
}

.go-to-about:active {
    background-color:rgb(105, 105, 105)
}

.hello {
    margin-bottom: 10px;
}
